.sectionVideos{
    /*margin-top: 60px; */
    width: 100%;
    
    background-color: #e6e6e6;
    position: absolute;
}

footer{
    clear: both;
}


@media (min-width: 768px){
    .sectionVideos{
        /* margin-top: 100px;  */
        padding: 2px;
        background-color: #72388D;
    }
    
}
