* {
    box-sizing: border-box;
    
  }
  
  .admin{
    background: #EEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #282828;
    margin-top: 2px;
    
  }

  .admin-body{
    display: flex;
    margin-top: 10px;
  }

  
  
  .card{
    background: white;
    box-shadow: 0 2px 10px -4px rgba(0,0,0,0.2);
    padding: 20px;
  }
  
  h1 {
    color: #606060;
  }
  .row{
    display: flex;
  }
  .-align-center{
    align-items: center;
  }
  .-justify-center{
    justify-content: center;
  }
  .container{
    width: 860px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 40px) ;
  }

  .admin-category{
    display: flex;
    
  }