.forum-section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./image-05.jpeg');
    height: 800px;
}



.forum-topico{     
    width: 860px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 30px;
    max-width: 80%;
    background-color: white;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-top: none; 
}
