
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.div-button-search{
    /*width: 180px;*/
    display: inline-block;
    float: right;
    /*margin: 10px;*/
}

.input-search{
    float:left;
    border: 1px solid #BEBEBE;
    margin:0;
    width: 150px;
    padding: 3px;
    background-color: #EDEFF0;
   
    
}

input::placeholder {
  color: #72398E;
  font-weight: bold;
  padding: 3px;
}

.button-search{
    float:left;
    border: 1px solid #BEBEBE;
    background-color: #72398E;
    color: white;
    margin:0;
    width: 100px;
    padding: 3px;
    font-weight: bold;
    
}

@media (min-width: 768px) {

    .div-button-search{
    /*width: 250px;*/
}


.input-search{
    padding: 5px;
}

input::placeholder {
    padding: 5px;
}

.button-search{
    padding: 5px;
}

}

@media (min-width: 1024px) {
  .div-button-search{
    /*width: 350px;*/
}


.input-search{
    padding: 7px;
}

input::placeholder {
    padding: 7px;
}

.button-search{
    padding: 7px;
}



}