
.forum-topico{     

    width: 860px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 30px;
  /* display: flex;
  flex-direction: column; */
  max-width: 80%;
  background-color: white;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-top: none; 
}

.forum-tag{
    float:left;
    flex-direction: row;
    margin-right: 10px;
    padding: 2px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: orange;
}

.forum-nut{
    float: left;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
}

.forum-data {
    float: right;
    margin-top: 10px;
}

.forum-tags{
    display: inline-block;
}

.forum-topico__desc{

    display: inline-block;
    text-align: justify;
    font-size: 1.1em;
}

.forum-qtdResp{

    background-color: #72398E;
    padding: 3px 10px;
    border-radius: 5px;
    color: #f2f2f2;
    font-size: 17px;
    font-weight: bold;
}

.forum-topico__post{

    margin: 30px auto;
    border-top: 3px double #72398E;
    padding-top: 5px;
 
}

.forum-user{
    margin: 10px 0;
    font-weight: bold;
    float: left;

}

.forum-data__resp{
    margin-top: 10px;
    float: right;
}

.forum-topico__respUser{
    display: inline-block;
    text-align: justify;
}

.forum-topico__resp{
    border-bottom: 3px double #72398E;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.forum-user__post{
    display: inline;
    font-weight: bold;
    
}

.forum-topico__respUserTextarea{
    display: block;
    margin: 10px 0;
    width: 90%;

}

.forum-post{
    display: flex;
}

.registro {display: flex; align-items: center}
.registro > label {padding-right: 25px}