.cardVideo{  
    background-color: #72398E;
    color: white;
width: 97%;
font-weight: bold;
margin: 5px;

}

.cardVideo-title{
    float: left;
    font-size: 1.4em;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 5px;
    font-size: 1em;
    

}
.cardVideo-price{
    float: right;
    margin: 5px 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.cardVideo-video{
    width: 100%;
    height: 300px;
}


@media (min-width: 768px){
.cardVideo{    
    
    width: 400px;
    height: 170px;
    /* border: 2px solid gray; */
    margin: 3px;    
}

.cardVideo-video{
    float: right;
}

.cadVideo-content{
    width: 142px;
    float:left;
    font-family: "Gotham Condensad Bold";
        
}

}