.cardVideo{  
    background-color: #72398E;
    color: white;
width: 97%;

font-weight: bold;
margin: 5px;
padding: 8px 8px 35px 8px;


}

.cardVideo-title{
    float: left;
    font-size: 1.4em;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 5px;
    font-size: 1em;
    

}
.cardVideo-price{
    float: right;
    margin: 5px 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.cardVideo-video{
    width: 100%;
    height: 300px;
    
}

.cadVideo-content{
    
    /* float:left; */
    font-family: "Gotham Condensad Bold";
    display: inline-block;
    width: 100%;
        
}

.cardVideo-description{
padding: 5px 10px;
text-align: justify;
font-weight: normal;
/* white-space: pre-line;  */

height: 70px;    
    overflow: hidden;
    text-overflow: ellipsis; 
}

.cardVideo-info{
    background-color: #B0CF52;
    float: right;
    padding: 0 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}



.cardVideo-info >a {
    color: white;
    font-weight: normal;
    font-size: 0.8em;
}


@media (min-width: 768px){
.cardVideo{    
    width: 49.3%;
    margin: 3px;
    float: left;
    background-color: white;
    color: black;
    padding: 8px;
}

.cardVideo-video{
    float: right;
}

.cadVideo-content{
    /* width: 142px;s */
    /*float:left;*/
    
    font-family: "Gotham Condensad Bold";
      }

.cardVideo-info{
    margin: 20px 0;
    padding: 5px;
    font-size: 1.2em;
}



}

@media (min-width: 1024px){

    .cardVideo{    
            
            width: 32.89%;
            height: 30%; 
            background-color: white;
            color: black;
             /* border: 2px solid gray; */
            margin: 3px;
            padding: 0;    
            box-shadow: 0 3px 5px 0 black;
        }

        
    .cardVideo-video{
        float: right;
        width: 100%;
        height: 100%;
    }
    
    .cardVideo-videoG{
        float: right;
        width: 60%;
        height: 100%;
    }

    
    .cardVideo-description{
        float: left;
        width: 40%;
        font-size: 0.7em;
        height: 90px;
        
    }

    
    .cardVideo-content{
        width: 40%;
        float:left;
        font-size: 0.8em;
        /* background-color: black; */
        /* font-family: "Gotham Condensad Bold"; */
          }

          .cardVideo-info{
            margin: 10px;
            padding: 3px;
            font-size: 0.8em;
            
        }
}
