.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 60px;
    min-height: 60px;
    /* max-width: 50%; */
    padding: 0 calc(10% + 1rem);
    position: relative;
    background: #fff;
    border-bottom: 1px solid #d4dadf;
    box-shadow: 0 1px 1px 0 #f0f1f4;
    z-index: 20;
}

.navbar-logo {
    margin: 0;
}

.logo{

    width: 100px;
    height: 50px;
}


.navbar-menu-hamburguer{

    font-size: 1.8em;
    color: #72398E;
    padding: 0 0 0 125px;
    
}
.navbar-menu-input:checked ~ .navbar-menu-label::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;

    background: rgba(0, 0, 0, 0.7);
}

.navbar-menu-input:checked ~ .navbar-pages {
    right: 0;
    transition: right 0.7s ease-in;
}

.navbar-pages {
    list-style: none;
    position: fixed;
    top: 0;
    right: -100vh;
    height: 100vh;
    width: 70%;
    padding: 2rem;
    margin: 0;
    background: #72398E;
}

.navbar-pages__link {
    cursor: pointer;
    color: #FFF;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1rem;
}

.navbar-pages__link--sair {
    display: flex;
}

.navbar-pages-link-icon {
    margin-right: 0.5rem;
}

@media (min-width: 768px) {
    .navbar-menu-input, .navbar-menu-label {
        display: none;
        float: right;
    }


    .navbar-pages {
        position: initial;
        display: flex;
        align-items: center;
        height: initial;
        width: initial;
        padding: 0;
        background: initial;
        /* margin-left: 30%; */
    }

    .navbar-pages__link {
        color: #72398E;
        font-size: 1rem;
        padding: 0 1rem;
        margin: 0;
        font-weight: bold;
    }
}

.navbar__logout {
    cursor: pointer;
}

@media (min-width: 1024px) { 
    .navbar-pages {
        margin-left: 30%;
    }
}