.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 60px;
    min-height: 60px;
    width: 100%;
    /* max-width: 50%; */
    padding: 0 calc(10% + 1rem);
    /* position: fixed; */
    background: #fff;
    /* border-bottom: 1px solid #d4dadf; */
    box-shadow: 0 3px 15px 0 #C6C3C3;
    z-index: 20; 
    border-top: 10px solid black #72388D;
    
}


.navbar > ul > li > a {
    padding: 15px;
    margin:0;
    font-size: "Gotham";
    font-weight: bold
}


.navbar ul > li.active > a,
.navbar ul > li > a:hover,
.navbar ul > li > a:focus,
.navbar ul > li.open > a,
.navbar ul > li.open > a:hover,
.navbar ul > li.open > a:focus {
	background: white;
	color: #72388D;
	text-decoration: none;
}
.navbar ul > li.active > a {
	border-bottom: 2px solid #e64f00;
}

.navbar-logo {
    margin-left: -30% !important;
    float: left;
    width: 250px;
    /* position: fixed; */
}

.logo{

    width: 125px;
    /* height: 40px; */
      
}


.navbar-menu-hamburguer{

    font-size: 1.8em;
    color: #72398E;
    padding: 0 ;
        
}
.navbar-menu-label{
    color: #72398E;
}

.navbar-menu-input:checked ~ .navbar-menu-label::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vh;
    color: #72398E;

    background: rgba(0, 0, 0, 0.7);
}

.navbar-menu-input:checked ~ .navbar-pages {
    right: 0;
    transition: right 0.7s ease-in;
}

.navbar-pages {
    list-style: none;
    position: fixed;
    top: 0;
    right: -100vh;
    height: 100vh;
    width: 70%;
    padding: 1.2em;
    margin: 0;
    background: #72398E;
}

.navbar-pages__login {
    display: none;
}

.navbar-pages__link {
    margin-top: 8px;
    cursor: pointer;
    color: #FFF;
    font-size: 1.2em !important;
    text-decoration: none;
    display: block;
   
}


.navbar-pages-link-icon {
    margin-right: 0.5rem;
}

@media (min-width: 768px) {
    .navbar-menu-input, .navbar-menu-label {
        display: none;
        float: right;
    }
    
    
    .navbar-pages__login-style{
        font-size: 35px;
        margin-top: 5px;
    }

    .navbar-logo {
        margin-left: -65% !important;
        width: 130px;
    }

    .logo{
        width: 150px;
        /* height: 50px; */
       
    }

    .navbar > ul > li > a {
        color: #72398E;
        float:left;
        display: block;	
        padding: 45px 10px 30px;
        font-size: "Gotham";
        font-weight: bold;
    }

.navbar ul > li.active > a,
.navbar ul > li > a:hover,
.navbar ul > li > a:focus,
.navbar ul > li.open > a,
.navbar ul > li.open > a:hover,
.navbar ul > li.open > a:focus {
	color: white;
	background: #72388D;
	text-decoration: none;
}
    .navbar-pages {
        position: initial;
        display: flex;
        align-items: center;
        height: initial;
        width: initial;
        padding: 0 !important;
        margin-left: 55px !important;

        background: initial;
        /* margin-left: 30%; */
    }

    .navbar-pages__link {
        
        font-size: 1rem;
        display: inline;
        /* padding:  7rem; */
        margin: 0;
        font-weight: bold;
    }

    .navbar-pages__login {
        color: #72388D;
        font-size: 1rem;
        display: inline;
        padding: 0 0.2rem;
        margin-top: 12px;
        font-weight: bold;
    }
}

.navbar__logout {
    cursor: pointer;
}

@media (min-width: 1024px) { 
    .navbar-pages {
        float: right;
    }

    .logo{
        width: 155px;
        /* height: 60px; */
      }
    
      .navbar-logo {
        margin-left: -65% !important;
        width: 250px;
    }
      
    .navbar > ul > li > a {
       
        padding: 45px 20px 30px;
        
    }
}